{% extends "base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
    <link rel="stylesheet" href="{% static "styles/user/friend-requests.css" %}">
    <link rel="stylesheet" href="{% static "styles/pagination.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <h1 class="friends-title">Friend Requests</h1>
    <div class="friends-container">
        <ul class="friends-ul">
            {% for friend in friend_requests %}
                <li class="friend">
                    {% include "profile/components/friend-card-component.html" with friend=friend %}
                    {% include "profile/components/friend-request-buttons-component.html" with friend=friend %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}