{% extends "base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
    <link rel="stylesheet" href="{% static "styles/user/friend-requests.css" %}">
    <link rel="stylesheet" href="{% static "styles/pagination.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <h1 class="friends-title">Friend Requests</h1>
    <div class="friends-container">
        <ul class="friends-ul">
            {% for friend in friend_requests %}
                <li class="friend">
                    <a href="{% url "accounts:profile_detail" friend.username %}">
                        <img src="
                                {% if friend.image %}{{ friend.image.url }}{% else %}{% static 'images/profile_default.png' %}{% endif %}"
                             class="friends-friend-profile-image"
                             alt="{{ friend.username }}">
                        <p class="username-text">{{ friend.username }}</p>
                    </a>
                    <div>
                        <form class="form-accept-decline" action="{% url "accounts:accept_friend" friend.username %}" method="POST">
                            {% csrf_token %}
                            <button class="btn-accept">Accept</button>
                        </form>
                        <form class="form-accept-decline" action="{% url "accounts:decline_friend" friend.username %}" method="POST">
                            {% csrf_token %}
                            <button class="btn-decline">Decline</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}