{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        <form method="POST" action="{% url "accounts:profile_update_password" user.username %}"
              enctype="multipart/form-data"
              class="profile-info update-container">
            {% csrf_token %}
            <h1>My Profile</h1>
            {% if not request.user.image %}
                <img class="profile-picture" src="{% static 'images/profile_default.png' %}" alt="profile_picture">
            {% else %}
                <img class="profile-picture" src="{{ request.user.image.crop.250x250 }}" alt="profile_picture">
            {% endif %}
            <div>
                <div class="inline-element-container">
                    <div class="inline-element">

                        <label for="first_name">
                            <h2>Current Password:</h2>
                            <input class="update-profile-input" type="password" name="current_password">
                        </label>
                    </div>
                    <div class="inline-element">

                        <label>
                            <h2>New Password:</h2>
                            <input class="update-profile-input" type="password" name="password">
                        </label>
                    </div>
                </div>
                <a class="go-back" href="{% url "accounts:profile" %}">Go Back</a>
                <button type="submit" class="btn edit-button">Save Changes</button>
            </div>
        </form>

    </div>
{% endblock %}

{% block script %}
    <script>
        window.chatConfig = {
            currentUserUsername: "{{ request.user.username }}",
        };
    </script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}