{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        <div class="profile-info">
            <h1>{{ user.username }} Profile</h1>
            {% include 'profile/components/profile-component.html' with user=user %}
            <form action="{% url "accounts:add_friend" user.username %}" method="POST">
                {% csrf_token %}
                {% if user not in request.user.friends.all %}
                    <button id="friend-request-btn" class="btn">
                        Add Friend
                    </button>
                {% endif %}
            </form>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        window.chatConfig = {
            currentUserUsername: "{{ request.user.username }}",
        };
    </script>
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}