{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        <div class="profile-info">
            <h1>My Profile</h1>
            {% if not request.user.image %}
                <img class="profile-picture" src="{% static 'images/profile_default.png' %}" alt="profile_picture">
            {% else %}
                <img class="profile-picture" src="{{ request.user.image.crop.250x250 }}" alt="profile_picture">
            {% endif %}
            <h2>🌸First Name: {{ request.user.first_name }}</h2>
            <h2>🌸Last Name: {{ request.user.last_name }}</h2>
            <h2>🌸Username: {{ request.user.username }}</h2>
            <h2>🌸Email: {{ request.user.email }}</h2>
            <div class="profile-edit">
                <div class="editing">
                    <a href="{% url "accounts:profile_update" request.user.username %}" class="edit-button">Edit
                        Profile</a>
                </div>
                <div class="editing">
                    <a href="{% url "accounts:profile_update_password" request.user.username %}" class="edit-button">Change
                        Password</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}