{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        <div class="profile-info">
            <h1>My Profile</h1>
            {% include 'profile/components/profile-component.html' with user=request.user %}
            <div class="profile-edit">
                <div class="editing">
                    <a href="{% url "accounts:profile_update" request.user.username %}" class="edit-button">Edit
                        Profile</a>
                </div>
                <div class="editing">
                    <a href="{% url "accounts:profile_update_password" request.user.username %}" class="edit-button">Change
                        Password</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}