{% extends "base.html" %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        {% include "profile/components/profile-update-component.html" %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}