{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/profile.css" %}">
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="profile-container">
        <div class="profile-info">
            <h1>{{ user.username }} Profile</h1>
            {% if not user.image %}
                <img class="profile-picture" src="{% static 'images/profile_default.png' %}" alt="profile_picture">
            {% else %}
                <img class="profile-picture" src="{{ user.image.crop.250x250 }}" alt="profile_picture">
            {% endif %}
            <h2>🌸First Name: {{ user.first_name }}</h2>
            <h2>🌸Last Name: {{ user.last_name }}</h2>
            <h2>🌸Username: <span class="username-for-friend-requests">{{ user.username }}</span></h2>
            <h2>🌸Email: {{ user.email }}</h2>
            <form action="{% url "accounts:add_friend" user.username %}" method="POST">
                {% csrf_token %}
                {% if user not in request.user.friends.all %}
                    <button id="friend-request-btn" class="btn">
                        Add Friend
                    </button>
                {% endif %}
            </form>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        window.chatConfig = {
            currentUserUsername: "{{ request.user.username }}",
        };
    </script>
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}