<form method="POST" action="{% url "accounts:profile_update_password" user.username %}"
      enctype="multipart/form-data"
      class="profile-info update-container">
    {% csrf_token %}
    <h1>My Profile</h1>
    {% include "profile/components/profile-picture-component.html" with user=request.user %}
    <div>
        <div class="inline-element-container">
            <div class="inline-element">
                <label for="first_name">
                    <h2>Current Password:</h2>
                    <input class="update-profile-input" type="password" name="current_password">
                </label>
            </div>
            <div class="inline-element">

                <label>
                    <h2>New Password:</h2>
                    <input class="update-profile-input" type="password" name="password">
                </label>
            </div>
        </div>
        <a class="go-back" href="{% url "accounts:profile" %}">Go Back</a>
        <button type="submit" class="btn edit-button">Save Changes</button>
    </div>
</form>