{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/user/reset-password.css' %}">
{% endblock %}


{% block content %}

    <div class="reset-password-container">
        <div class="reset">
            <h2>Enter New Password</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-div">
                    <button type="submit" class="btn">Reset Password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
