{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}">
    <link rel="stylesheet" href="{% static "styles/footer.css" %}">
    <link rel="stylesheet" href="{% static "styles/chat/home.css" %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    {% include 'chat/modal.html' with friends=user.friends.all  %}
    <div class="chat-container">
        <div class="display-chats">
            {% include "chat/components/chat-header.html" %}
            {% include "chat/chats.html" %}
        </div>
        <div class="messaging-space">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        window.chatConfig = {
            currentUserUsername: "{{ request.user.username }}",
        };
    </script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script type="module" src="{% static "js/notifications.js" %}"></script>

{% endblock %}
