<div id="new--modal">
    <div class="modal-content">

        <span class="close">&times;</span>
        <h1>Choose a Friend to start a chat with</h1>

        <label>
            Search for a friend:
            <input id="search" type="text" name="search">
        </label>

        <div>
            <h2>My Friends</h2>
            <ul>
                <form method="POST" action="{% url "chat:create" %}">
                    {% for friend in friends %}
                        {% csrf_token %}
                        <li>
                            <input
                                    name=friends_checkboxes
                                    type="checkbox"
                                    id="friend-checkbox-{{ friend.username }}"
                                    value="{{ friend.id }}"
                            >
                            <label for="friend-checkbox-{{ friend.username }}">{{ friend.username }}</label>
                        </li>
                    {% endfor %}

                    <label for="chat_name_input" class="label-chat-name-input">For Group Messages Enter the Name</label>
                    <input type="text" name="name" id="chat_name_input" value="Group Chat"/>

                    <div class="friend-button-div">
                        <button type="submit" class="friend-button">
                            Start Chat
                        </button>
                    </div>
                </form>
            </ul>
        </div>

    </div>
</div>