@import '../variables.css';

h2 {
    color: var(--pink);
}

body{
    background-color: floralwhite;
    font-family: Montserrat, sans-serif;
    color: var(--light-green);
}

.reset-password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset{
    width: 20%;
    margin: auto;
    background-color: var(--cream);
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 3%;
}

input {
    width: 100%;
    padding: 10px;
    font-size: large;
    color: var(--dark-green);
    font-family: "Montserrat", sans-serif;
    border: 1px solid floralwhite;
    border-radius: 5px;
    background-color: var(--light-pink);
    box-sizing: border-box;
}

button{
    width: 60%;
    padding: 4.5%;
    font-size: large;
    margin: auto;
    background-color: var(--pink);
    border: none;
    border-radius: 5px;
    color: var(--cream);
    font-family: Montserrat, sans-serif;
}

.button-div{
    margin-top: 10%;
    display: flex;
    margin-bottom: 10%;
}

.btn:hover{
    background-color: var(--light-green);
    color: var(--cream);
    cursor: pointer;
}

.form-element{
    margin: 3%;
    font-size: large;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--light-green);
}

a:hover {
    color: var(--dark-green);
}

h2 {
    margin-bottom: 10%;
}

p {
    margin-bottom: 10%;
    margin-top: 10%;
}