@import "../variables.css";

.friends-friend-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.friends-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    min-height: 70vh;
}

.friend {
    padding: 20px;
    text-align: center;
    list-style: none;
}

.username-text {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--dark-green);
}

.friends-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-green);
    margin-bottom: 20px;
    text-align: center;
}


.btn-accept, .btn-decline {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--light-green);
    color: var(--dark-green);
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.btn-accept:hover, .btn-decline:hover {
    background-color: var(--dark-green);
    color: var(--light-green);
}

.form-accept-decline {
    display: inline-block;
}
