{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/login.css" %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login">
            {% if request.user.is_authenticated %}
                {% include 'authorization/components/logout-form.html' %}
            {% else %}
                <h1>Login</h1>
                {% include 'authorization/components/login-form.html' with form=form %}
            {% endif %}

        </div>
    </div>

{% endblock %}
