{% extends "base.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "styles/user/register.css" %}">
{% endblock %}

{% block content %}

<div class="register-container">
    <div class="register">
        {% if request.user.is_authenticated %}
            {% include 'authorization/components/logout-form.html' %}
        {% else %}
            <h1>Create a New Account</h1>
            {% include 'authorization/components/register-form.html' with form=form %}
        {% endif %}

    </div>
</div>

{% endblock %}