@import './variables.css';

footer {
    color: var(--cream);
    background-color: var(--light-pink);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    top: 0;
    z-index: 1000;
}

.footer-item {
    display: flex;
    margin: auto;
}