{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/variables.css" %}">
    <link rel="stylesheet" href="{% static "styles/notifications.css" %}">
    {% block styles %} {% endblock %}

</head>
<body>
{% block content %}

{% endblock %}

<div class="notification-container" id="notification-container">
    <!-- Notifications will be dynamically added here -->
</div>

{% include 'footer.html' %}
</body>

{% block script %}
{% endblock %}
</html>